{% extends 'core/base.html' %}
{% load static %}

{% block content %}
  <!-- Banner Section Three-->
    <section class="banner-section-three at-home18">
      <div class="auto-container">
        <div class="row align-items-center">
          <div class="content-column col-lg-7">
            <div class="inner-column">
              <div class="title-box wow fadeInUp">
                <h3>Find, Hire, and Grow with Top Talent </h3>
                <div class="text">Search your career opportunity through 12,800 jobs</div>
              </div>
              <!-- Job Search Form -->
              <div class="job-search-form-two wow fadeInUp" data-wow-delay="200ms">
                <form method="post" action="https://creativelayers.net/themes/superio/job-list-v10.html">
                  <div class="row">
                    <div class="form-group col-lg-5 col-md-12 col-sm-12">
                      <label class="title">What</label>
                      <span class="icon flaticon-search-1"></span>
                      <input type="text" name="field_name" placeholder="Job title, keywords, or company">
                    </div>
                    <!-- Form Group -->
                    <div class="form-group col-lg-4 col-md-12 col-sm-12 location">
                      <label class="title">Where</label>
                      <span class="icon flaticon-map-locator"></span>
                      <input type="text" name="field_name" placeholder="City or postcode">
                    </div>
                    <!-- Form Group -->
                    <div class="form-group col-lg-3 col-md-12 col-sm-12 btn-box">
                      <button type="submit" class="theme-btn btn-style-one"><span class="btn-title">Find Jobs</span></button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- Job Search Form -->
              <!-- Popular Search -->
              <div class="popular-searches at-home18 mb-5 wow fadeInUp" data-wow-delay="400ms">
                <span class="title">Popular Searches : </span>
                <a class="dark-color" href="#">Designer</a>,
                <a class="dark-color" href="#">Developer</a>,
                <a class="dark-color" href="#">Web</a>,
                <a class="dark-color" href="#">IOS</a>,
                <a class="dark-color" href="#">PHP</a>,
                <a class="dark-color" href="#">Senior</a>,
                <a class="dark-color" href="#">Engineer</a>,
              </div>
              <!-- End Popular Search -->
              <!--Candidate Section-->
             
              <!-- End Candidate Section-->
            </div>
          </div>
          <div class="image-column col-lg-4 offset-lg-1">
              <!-- Job Block -->
              <div class="job-block mr-30 ml30 mb30 mt30">
                <div class="inner-box">
                  <div class="content">
                    <span class="company-logo"><img class="rounded-circle w50" src="{% static 'images/resource/company-3.png'%}" alt=""></span>
                    <h4><a href="#">Software Engineer (Android), Libraries</a></h4>
                    <ul class="job-info">
                      <li><span class="icon flaticon-briefcase"></span> Segment</li>
                      <li><span class="icon flaticon-map-locator"></span> London, UK</li>
                    </ul>
                    <ul class="job-other-info">
                      <li class="required">Urgent</li>
                      <li class="time">Full Time</li>
                    </ul>
                    <button class="bookmark-btn"><span class="flaticon-bookmark"></span></button>
                  </div>
                </div>
              </div>
              <!-- Job Block -->
              <div class="job-block mb30">
                <div class="inner-box">
                  <div class="content">
                    <span class="company-logo"><img class="rounded-circle w50" src="{% static 'images/resource/company-5.png'%}" alt=""></span>
                    <h4><a href="#">Software Engineer (Android), Libraries</a></h4>
                    <ul class="job-info">
                      <li><span class="icon flaticon-briefcase"></span> Segment</li>
                      <li><span class="icon flaticon-map-locator"></span> London, UK</li>
                    </ul>
                    <ul class="job-other-info">
                      <li class="required">Urgent</li>
                      <li class="time">Full Time</li>
                    </ul>
                    <button class="bookmark-btn"><span class="flaticon-bookmark"></span></button>
                  </div>
                </div>
              </div>
              <!-- Job Block -->
              <div class="job-block mr-30 ml30">
                <div class="inner-box">
                  <div class="content">
                    <span class="company-logo"><img class="rounded-circle w50" src="{% static 'images/resource/company-6.png'%}" alt=""></span>
                    <h4><a href="#">Software Engineer (Android), Libraries</a></h4>
                    <ul class="job-info">
                      <li><span class="icon flaticon-briefcase"></span> Segment</li>
                      <li><span class="icon flaticon-map-locator"></span> London, UK</li>
                    </ul>
                    <ul class="job-other-info">
                      <li class="required">Urgent</li>
                      <li class="time">Full Time</li>
                    </ul>
                    <button class="bookmark-btn"><span class="flaticon-bookmark"></span></button>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Banner Section Three-->

<!-- Registeration Banners -->
<section class="layout-pt-60 layout-pb-60">
  <div class="auto-container">
    <div class="row wow fadeInUp">
      <!-- Banner Style One -->
      <div class="banner-style-home22 at-home22 mb30 col-md-6 col-sm-12">
        <div class="inner-box">
          <div class="content">
            <h3 class="title">Employers</h3>
            <p class="text">Hire smarter with tools built to speed up <br class="d-none d-lg-block"> your process and increase hire quality.</p>
            <a href="#" class="theme-btn btn-style-one bdrs12">Post Your Job For Free <i class="fal fa-long-arrow-right ms-3"></i></a>
          </div>
          <figure class="image d-none d-xl-block"><img src="{% static 'images/index-22/home22-banner-1.png' %}" alt=""></figure>
        </div>
      </div>

      <!-- Banner Style Two -->
      <div class="banner-style-home22 at-home22 mb30 col-md-6 col-sm-12">
        <div class="inner-box">
          <div class="content">
            <h3 class="title">Candidate</h3>
            <p class="text">Showcase your skills and get matched with top <br class="d-none d-lg-block"> opportunities—without the job hunt stress. </p>
            <a href="#" class="theme-btn btn-style-one bdrs12">Find Jobs <i class="fal fa-long-arrow-right ms-3"></i></a>
          </div>
          <figure class="image d-none d-xl-block"><img src="{% static 'images/index-22/home22-banner-2.png' %}" alt=""></figure>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Registeration Banners -->

<!-- Job Categories -->
<section class="job-categories border-bottom-0 pt-0">
  <div class="auto-container">
    <div class="d-flex align-items-center justify-content-between wow fadeInUp">
      <div class="sec-title">
        <h2>Popular Job Categories</h2>
        <div class="text">2020 jobs live - 293 added today.</div>
      </div>
      <a href="#" class="text ud-btn2">View All Categories <i class="fal fa-long-arrow-right"></i></a>
    </div>
    <div class="row wow fadeInUp">
      <!-- Category Block -->
      <div class="category-block-two at-home22 col-xl-3 col-sm-6">
        <div class="inner-box text-start">
          <div class="content justify-content-start d-block">
            <span class="icon flaticon-money justify-content-start-1"></span>
            <p>(2 open positions)</p>
            <h4><a href="#">Accounting / Finance</a></h4>
            <p class="text">Sit amet, consectetur adipiscing <br class="d-none d-xl-block"> elit, sed do eiusmod.</p>
          </div>
        </div>
      </div>
      <!-- Category Block -->
      <div class="category-block-two at-home22 col-xl-3 col-sm-6">
        <div class="inner-box text-start">
          <div class="content justify-content-start d-block">
            <span class="icon flaticon-promotion"></span>
            <p>86 open positions)</p>
            <h4><a href="#">Marketing</a></h4>
            <p class="text">Sit amet, consectetur adipiscing <br class="d-none d-xl-block"> elit, sed do eiusmod.</p>
          </div>
        </div>
      </div>
      <!-- Category Block -->
      <div class="category-block-two at-home22 col-xl-3 col-sm-6">
        <div class="inner-box text-start">
          <div class="content justify-content-start d-block">
            <span class="icon flaticon-vector"></span>
            <p>43 open positions)</p>
            <h4><a href="#">Design</a></h4>
            <p class="text">Sit amet, consectetur adipiscing <br class="d-none d-xl-block"> elit, sed do eiusmod.</p>
          </div>
        </div>
      </div>
      <!-- Category Block -->
      <div class="category-block-two at-home22 col-xl-3 col-sm-6">
        <div class="inner-box text-start">
          <div class="content justify-content-start d-block">
            <span class="icon flaticon-web-programming"></span>
            <p>(12 open positions)</p>
            <h4><a href="#">Development</a></h4>
            <p class="text">Sit amet, consectetur adipiscing <br class="d-none d-xl-block"> elit, sed do eiusmod.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Job Categories -->

<!-- Job Section -->
<section class="job-section pt-0">
  <div class="auto-container">
    <div class="sec-title text-center wow fadeInUp">
      <h2>Featured Jobs</h2>
      <div class="text">Know your worth and find the job that qualify your life</div>
    </div>
    <div class="row wow fadeInUp">
      <!-- Job Block -->
      <div class="job-block at-jlv16 col-sm-6">
        <div class="inner-box">
          <div class="tags d-flex align-items-center">
            <a class="far fa-crown" href="#"></a>
            <a class="far fa-bolt" href="#"></a>
            <a class="flaticon-bookmark" href="#"></a>
          </div>
          <div class="content ps-0">
            <div class="d-xl-flex align-items-center">
              <span class="company-logo position-relative"><img src="{% static 'images/resource/company-logo/3-1.png' %}" alt=""></span>
              <div class="ms-0 ms-xl-3 mt-3 mt-xl-0">
                <h4 class="fz20 mb-2 mb-lg-0"><a href="#">Software Engineer (Android), Libraries</a></h4>
                <p class="mb-0">by <span class="fw500 text">CreativeLayers</span> in Design & Creative</p>
              </div>
            </div>
            <ul class="job-other-info at-jsv6 at-jsv17 mt20 ms-0">
              <li class="time">Full Time</li>
              <li class="time2">London, UK</li>
              <li class="time2">11 hours ago</li>
              <li class="time2">450 - $900/month</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Job Block -->
      <div class="job-block at-jlv16 active col-sm-6">
        <div class="inner-box">
          <div class="tags d-flex align-items-center">
            <a class="far fa-crown" href="#"></a>
            <a class="far fa-bolt" href="#"></a>
            <a class="flaticon-bookmark" href="#"></a>
          </div>
          <div class="content ps-0">
            <div class="d-xl-flex align-items-center">
              <span class="company-logo position-relative"><img src="{% static 'images/resource/company-logo/3-2.png' %}" alt=""></span>
              <div class="ms-0 ms-xl-3 mt-3 mt-xl-0">
                <h4 class="fz20 mb-2 mb-lg-0"><a href="#">Software Engineer (Android), Libraries</a></h4>
                <p class="mb-0">by <span class="fw500 text">CreativeLayers</span> in Design & Creative</p>
              </div>
            </div>
            <ul class="job-other-info at-jsv6 at-jsv17 mt20 ms-0">
              <li class="time">Full Time</li>
              <li class="time2">London, UK</li>
              <li class="time2">11 hours ago</li>
              <li class="time2">450 - $900/month</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Job Block -->
      <div class="job-block at-jlv16 active col-sm-6">
        <div class="inner-box">
          <div class="tags d-flex align-items-center">
            <a class="far fa-crown" href="#"></a>
            <a class="far fa-bolt" href="#"></a>
            <a class="flaticon-bookmark" href="#"></a>
          </div>
          <div class="content ps-0">
            <div class="d-xl-flex align-items-center">
              <span class="company-logo position-relative"><img src="{% static 'images/resource/company-logo/3-4.png' %}" alt=""></span>
              <div class="ms-0 ms-xl-3 mt-3 mt-xl-0">
                <h4 class="fz20 mb-2 mb-lg-0"><a href="#">Software Engineer (Android), Libraries</a></h4>
                <p class="mb-0">by <span class="fw500 text">CreativeLayers</span> in Design & Creative</p>
              </div>
            </div>
            <ul class="job-other-info at-jsv6 at-jsv17 mt20 ms-0">
              <li class="time">Full Time</li>
              <li class="time2">London, UK</li>
              <li class="time2">11 hours ago</li>
              <li class="time2">450 - $900/month</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Job Block -->
      <div class="job-block at-jlv16 col-sm-6">
        <div class="inner-box">
          <div class="tags d-flex align-items-center">
            <a class="far fa-crown" href="#"></a>
            <a class="fi fa-bolt" href="#"></a>
            <a class="flaticon-bookmark" href="#"></a>
          </div>
          <div class="content ps-0">
            <div class="d-xl-flex align-items-center">
              <span class="company-logo position-relative"><img src="{% static 'images/resource/company-logo/3-3.png' %}" alt=""></span>
              <div class="ms-0 ms-xl-3 mt-3 mt-xl-0">
                <h4 class="fz20 mb-2 mb-lg-0"><a href="#">Software Engineer (Android), Libraries</a></h4>
                <p class="mb-0">by <span class="fw500 text">CreativeLayers</span> in Design & Creative</p>
              </div>
            </div>
            <ul class="job-other-info at-jsv6 at-jsv17 mt20 ms-0">
              <li class="time">Full Time</li>
              <li class="time2">London, UK</li>
              <li class="time2">11 hours ago</li>
              <li class="time2">450 - $900/month</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Job Block -->
      <div class="job-block at-jlv16 col-sm-6">
        <div class="inner-box">
          <div class="tags d-flex align-items-center">
            <a class="far fa-crown" href="#"></a>
            <a class="far fa-bolt" href="#"></a>
            <a class="flaticon-bookmark" href="#"></a>
          </div>
          <div class="content ps-0">
            <div class="d-xl-flex align-items-center">
              <span class="company-logo position-relative"><img src="{% static 'images/resource/company-logo/3-7.png' %}" alt=""></span>
              <div class="ms-0 ms-xl-3 mt-3 mt-xl-0">
                <h4 class="fz20 mb-2 mb-lg-0"><a href="#">Software Engineer (Android), Libraries</a></h4>
                <p class="mb-0">by <span class="fw500 text">CreativeLayers</span> in Design & Creative</p>
              </div>
            </div>
            <ul class="job-other-info at-jsv6 at-jsv17 mt20 ms-0">
              <li class="time">Full Time</li>
              <li class="time2">London, UK</li>
              <li class="time2">11 hours ago</li>
              <li class="time2">450 - $900/month</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Job Block -->
      <div class="job-block at-jlv16 col-sm-6">
        <div class="inner-box">
          <div class="tags d-flex align-items-center">
            <a class="far fa-crown" href="#"></a>
            <a class="far fa-bolt" href="#"></a>
            <a class="flaticon-bookmark" href="#"></a>
          </div>
          <div class="content ps-0">
            <div class="d-xl-flex align-items-center">
              <span class="company-logo position-relative"><img src="{% static 'images/resource/company-logo/3-5.png' %}" alt=""></span>
              <div class="ms-0 ms-xl-3 mt-3 mt-xl-0">
                <h4 class="fz20 mb-2 mb-lg-0"><a href="#">Software Engineer (Android), Libraries</a></h4>
                <p class="mb-0">by <span class="fw500 text">CreativeLayers</span> in Design & Creative</p>
              </div>
            </div>
            <ul class="job-other-info at-jsv6 at-jsv17 mt20 ms-0">
              <li class="time">Full Time</li>
              <li class="time2">London, UK</li>
              <li class="time2">11 hours ago</li>
              <li class="time2">450 - $900/month</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Job Section -->

<!-- CTA -->
<section class="home22-cta-1 mx-auto bdrs12">
  <div class="auto-container">
    <div class="row align-items-center">
      <!-- Content Column -->
      <div class="col-md-6 col-lg-5 offset-lg-1 col-sm-12">
        <div class="inner-column mb-3 mb-md-0 wow fadeInRight">
          <div class="mb-4">
            <h2 class="fw-600 mb20">Collaboration With Top <br>Brands</h2>
            <div class="text">To start searching for jobs, you can attend job fairs online or <br class="d-none d-lg-block"> in person, use job boards and career websites or reach out <br class="d-none d-lg-block"> directly to recruiters</div>
          </div>
          <a href="#" class="theme-btn btn-style-one bdrs12">View All Brands <i class="fal fa-long-arrow-right ms-3"></i></a>
        </div>
      </div>

      <!-- Image Column -->
      <div class="col-md-6 col-lg-5 col-sm-12">
        <figure class="image-box wow fadeInLeft"><img src="{% static 'images/index-22/cta-1.png' %}" alt=""></figure>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->

<!-- About Section -->
<section class="about-section-two">
  <div class="auto-container">
    <div class="row align-items-center">
      <!-- Content Column -->
      <div class="content-column col-lg-6 order-2">
        <div class="inner-column wow fadeInRight pt-0">
          <div class="sec-title mb-4">
            <h2>Get Over 75.000+ Talented <br class="d-none d-xl-block">Experts in Superio</h2>
            <div class="text">Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 600,000 companies worldwide.</div>
          </div>
          <ul class="list-style-one at-home22 mb40 mt40">
            <li>Bring to the table win-win survival</li>
            <li>Capitalize on low hanging fruit to identify</li>
            <li>But I must explain to you how all this</li>
          </ul>
          <a href="{% url 'loginuser' %}" class="theme-btn btn-style-one">Get Started Now <i class="fal fa-long-arrow-right ms-3"></i></a>
        </div>
      </div>

      <!-- Image Column -->
      <div class="image-column col-lg-6 mb-4 mb-lg-0">
        <figure class="image-box wow fadeInLeft mx-0"><img src="{% static 'images/index-22/home22-img-3.png' %}" alt=""></figure>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->

<!-- CTA 2 Section -->
<section class="home22-cta-2">
  <div class="auto-container">
    <div class="row align-items-center">
      <!-- Content Column -->
      <div class="content-column wow fadeInRight col-lg-6 col-sm-12 pe-0">
        <div class="inner-column">
          <div class="mb-0">
            <img class="mb40" src="{% static 'images/index-22/cta-2.png' %}" alt="">
            <h4 class="title mb50">Without Hirepeak i’d be homeless, they <br class="d-none d-lg-block"> found me a job and got me sorted out <br class="d-none d-lg-block"> quickly with everything! Can’t quite… </h4>
            <div class="text-white fz20">Nout Golstein</div>
            <p class="text-white">CEO, Futured & Artdirectors</p>
          </div>
        </div>
      </div>
      <!-- Image Column -->
      <div class="image-content position-relative wow fadeInLeft col-lg-5 col-sm-12 ps-0">
        <figure class="image-box mb-0"><img class="w-100" src="{% static 'images/index-22/home22-video-img1.jpg' %}" alt=""></figure>
        <div class="video-box">
          <figure class="image">
            <a href="https://www.youtube.com/watch?v=Fvae8nxzVz4" class="play-now" data-fancybox="gallery" data-caption="">
              <i class="icon flaticon-play-button-3" aria-hidden="true"></i>
            </a>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End CTA 2 Section -->

<!-- Fun Fact Section -->
<div class="fun-fact-section style-two">
  <div class="auto-container">
    <div class="row wow fadeInUp">
      <!--Column-->
      <div class="counter-column col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
        <div class="count-box dark-color"><span class="count-text" data-speed="3000" data-stop="4">0</span>M</div>
        <h4 class="counter-title">4 million daily active users</h4>
      </div>

      <!--Column-->
      <div class="counter-column col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
        <div class="count-box dark-color"><span class="count-text" data-speed="3000" data-stop="12">0</span>k</div>
        <h4 class="counter-title">Over 12k open job positions</h4>
      </div>

      <!--Column-->
      <div class="counter-column col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
        <div class="count-box dark-color"><span class="count-text" data-speed="3000" data-stop="20">0</span>M</div>
        <h4 class="counter-title">Over 20 million stories shared</h4>
      </div>
    </div>
  </div>
</div>
<!-- Fun Fact Section -->

<!-- Call To Action -->
<section class="call-to-action at-home22">
  <div class="auto-container">
    <div class="outer-box wow fadeInUp">
      <div class="row">
        <div class="d-lg-flex align-items-center justify-content-between">
          <div class="sec-title mb-4 mb-lg-0">
            <img src="{% static 'images/index-22/home22-banner-3.png' %}" alt="">
          </div>
          <div class="sec-title mb-4 mb-lg-0">
            <h2>We Are Hiring</h2>
            <div class="text">Let’s Work Together & Explore Opportunities</div>
          </div>
          <div class="d-block">
            <a href="#" class="theme-btn btn-style-one">Apply Now <i class="fal fa-long-arrow-right ms-3"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Call To Action -->
<br> <br>

<!-- Subscribe Section -->
<section class="subscribe-section at-home22 py-xl-0">
  <div class="auto-container">
    <div class="outer-box wow fadeInUp">
      <div class="home22-newslatter-img d-none d-xl-block">
        <img src="{% static 'images/index-22/newslatter-img-1.png' %}" alt="">
      </div>
      <div class="sec-title">
        <h2 class="text-white">Subscribe Our Newsletter</h2>
        <div class="text-white">Advertise your jobs to millions of monthly users and search<br> 15.8 million CVs in our database.</div>
      </div>
      <div class="form-column">
        <div class="subscribe-form">
          <form method="post" action="#">
            <div class="form-group">
              <div class="response"></div>
            </div>
            <div class="form-group">
              <input type="email" name="email" class="email" value="" placeholder="Your e-mail" required>
              <button type="button" id="subscribe-newslatters" class="theme-btn btn-style-one">Subscribe <i class="fal fa-long-arrow-right ms-3"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Subscribe Section -->
{% endblock content %}