{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HirePeak | Login</title>
  <!-- Stylesheets -->
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
  <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
  <!-- Responsive -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body>
  <div class="page-wrapper">
    <!-- Main Header-->
    <header class="main-header">
      <div class="container-fluid">
        <div class="main-box">
          <div class="nav-outer">
            <div class="logo-box">
              <div class="logo"><a href="index.html"><img src="{% static 'images/logo-2.svg' %}" alt="Logo" title="Logo"></a></div>
            </div>
          </div>
          <div class="outer-box">
            <div class="btn-box"></div>
          </div>
        </div>
      </div>
      <!-- Mobile Header -->
      <div class="mobile-header">
        <div class="logo"><a href="index.html"><img src="{% static 'images/logo.svg' %}" alt="Mobile Logo" title="Mobile Logo"></a></div>
      </div>
      <div id="nav-mobile"></div>
    </header>
    <!-- Info Section -->
    <div class="login-section">
      <!-- Choose one: background-image or img -->
      <div class="image-layer" style="background-image: url('{% static 'images/background/12.jpg' %}')"></div>
      
      -->
      <div class="outer-box">
        <div class="login-form default-form">
          <div class="form-inner">
            <h3>Login to HirePeak</h3>
             {% if messages %}
            {% for message in messages %}
                <div class="error">{{ message }}</div>
            {% endfor %}
        {% endif %}
            <form method="post" action="{% url 'loginuser' %}">{% csrf_token %}
              <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" placeholder="Email Address" required>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input id="password-field" type="password" name="password" placeholder="Password" required>
              </div>
              <div class="form-group">
                <div class="field-outer">
                  <div class="input-group checkboxes square">
                    <input type="checkbox" name="remember-me" id="remember">
                    <label for="remember" class="remember"><span class="custom-checkbox"></span> Remember me</label>
                  </div>
                  <a href="{% url 'forget-password' %}" class="pwd">Forgot password?</a>
                </div>
              </div>
              <div class="form-group">
                <button class="theme-btn btn-style-one" type="submit" name="log-in">Log In</button>
              </div>
            </form>
            <div class="bottom-box">
              <div class="text">Don't have an account? <a href="{% url 'register' %}">Signup</a></div>
              <div class="divider"><span>or</span></div>
              <div class="btn-box row">
                <div class="col-lg-6 col-md-12">
                  <a href="#" class="theme-btn social-btn-two facebook-btn"><i class="fab fa-facebook-f"></i> Log In via Facebook</a>
                </div>
                <div class="col-lg-6 col-md-12">
                  <a href="#" class="theme-btn social-btn-two google-btn"><i class="fab fa-google"></i> Log In via Gmail</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/chosen.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.min.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.js' %}"></script>
  <script src="{% static 'js/jquery.modal.min.js' %}"></script>
  <script src="{% static 'js/mmenu.polyfills.js' %}"></script>
  <script src="{% static 'js/mmenu.js' %}"></script>
  <script src="{% static 'js/appear.js' %}"></script>
  <script src="{% static 'js/ScrollMagic.min.js' %}"></script>
  <script src="{% static 'js/rellax.min.js' %}"></script>
  <script src="{% static 'js/owl.js' %}"></script>
  <script src="{% static 'js/wow.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>